/* Navbar.css */
#navbar {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    #navbar .chakra-stack {
      flex-direction: column;
      align-items: center;
    }
  
    #navbar .chakra-image {
      width: 50%;
    }
  
    #navbar .chakra-button {
      width: 100%;
      text-align: center;
    }
  
    #navbar .chakra-flex {
      flex-direction: column;
      align-items: center;
    }
  }
  